# Port
PORT=3004

GIN_MODE=debug

# Database
DATABASE_URL=postgres://store_user:store_password@localhost:5435/store_service?sslmode=disable

# Same as auth service
JWT_SECRET=change_me_to_a_long_random_string