# Server
PORT=3002
NODE_ENV=development

# Database
# Database URL (outside docker-compose)
# if you are inside docker, use content-db
DATABASE_URL=mongodb://content_user:content_password@localhost:27017/content_service?authSource=admin

# JWT (same as auth-service, to validate the signature)
JWT_SECRET=cambia-este-valor-por-uno-largo-y-aleatorio

# Instagram Graph API
INSTAGRAM_GRAPH_API_TOKEN=
INSTAGRAM_SYNC_INTERVAL_MS=1800000