# Server
PORT=3001
NODE_ENV=development

# Database URL (outside docker-compose)
# if you are inside docker, use auth-db
DATABASE_URL=postgres://auth_user:auth_password@localhost:5432/auth_service

# JWT
JWT_SECRET=cambia-este-valor-por-uno-largo-y-aleatorio
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=cambia-este-otro-valor-tambien-largo-y-aleatorio
JWT_REFRESH_EXPIRES_IN=7d

# Bcrypt
BCRYPT_ROUNDS=12

# CORS (origenes permitidos, separados por coma)
CORS_ORIGINS=http://localhost:3000
