PORT=3003
ENV=development

# out of docker-compose (port 5434 of post). in docker use events-db:5432
DATABASE_URL=postgresql+psycopg://events_user:change_me@localhost:5434/events_service

# Same as Auth Service
JWT_SECRET=change_me_to_a_long_random_string

CORS_ORIGINS=http://localhost:3000